.weatherComponent {
     border-radius: 15px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
     


}

 

.row1{
    display: flex;
    flex-direction: row;
    flex: 2;
    font-size: 1rem;
    color: #333;
}

.locationText {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    color: #333;
}

.subText {
    font-size: 0.9rem;
    color: #777;
    margin: 2px 0;
}


.c1{
    padding-left: 5px;

}

.c2{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.r1, .r2{     
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;

    
}



.solar{
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    margin-right: 10px;
    flex: 5;
}
.description{
    flex:1;
    margin-left: 20%;
}

.solarText{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    text-align: end;
}

.icon {
    width: 50px;
    height: 50px;
}

.row3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.attribute {
    display: flex;
    flex-direction: column;
    align-items: center;
     
    font-size: 0.8rem;
    color: #333;
    flex:1  ;

}
